

    h1 {
        color: #6c2eb9;
        font-weight: normal;
        font-size: 40px;
        font-family: Arial;
}


h4{
        color: #b92e5c;
        font-weight: normal;
        font-size: 40px;
        font-family: Arial;
}


#thirdDiv>ul>li>img {
    width:400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color:rgb(55, 0, 128);
    padding: 50px;
    border: solid 16px blue;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}